html body{
    font-family: sans-serif;
    background-color: #2F3136;
}
nav{
    background: #21262B;
    height: 80px;
}

.title{
    color: white;
}
.molde{
    display:inline-block;
    margin-top: 10px;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    object-fit: fill;
}